.intro-mobile.o-section__figure-wrapper {
  height: 100vh;
}

section.intro {
  background-color: #407fe8;
  pointer-events:all;
}

.intro-content {
  width:27.500000000000004%;
  height: 22.962962962962962%;
  left:50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 3;
  top:30px;
}

.intro__ys-logo {
  max-width: 168px;
  margin: 0 auto 10px;
  display: block;
  opacity: 0;
}

.intro__ys-logo.fadeIn{
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}

.intro__tuzlu-title {
  opacity: 0;
  margin: auto;
  width: auto;
}

.intro__tuzlu-title.fadeIn{
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 4.5s;
  animation-fill-mode: forwards;
}

.intro__gol-hikayesi {
  max-width: 284px;
  margin:auto;
  opacity: 0;
  display: block;
}

.intro__gol-hikayesi.fadeIn{
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

.intro__explanation {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 154.5%;
  text-align: center;
  color: #113B55;
  max-width: 520px;
  margin: 20px auto 0;
  opacity: 0;
}

.intro__explanation.fadeIn{
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 5.5s;
  animation-fill-mode: forwards;
}

.intro__register-button {
  position: absolute;
  width: 314px;
  height: 78px;
  bottom:15.87037037037037%;
  background: #0067B1;
  border-radius: 106.071px;
  font-size: 18px;
  line-height: 120%;
  color:#fff;
  text-transform: uppercase;
  transition: all .3s ease-out;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  left:0;
  right:0;
  margin: auto;
  z-index: 6;
  opacity: 0;
}

.intro__register-button:hover{
  background: #FFFFFF;
  color: #0067B1;
}

.intro__register-button.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
  animation-direction:alternate;
}

.intro__start-button-wrapper {
  position: absolute;
  cursor: pointer;
  width: 14.90625%;
  height: 14.9065vw;
  bottom:7.87037037037037%;
  z-index: 6;
  left:0;
  right:0;
  margin: auto;
  opacity: 0;
}

.intro__start-button-wrapper.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
  animation-direction:alternate;
}

.intro__start-big-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  animation-name: bounced;
  animation-duration: 1s;
  animation-delay: .2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction:alternate;
}

.intro__start-middle-circle {
  position: absolute;
  width: 69.28838951310861%;
  height: 69.28838951310861%;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin: auto;
  animation-name: bounced;
  animation-duration: 1s;
  animation-delay: .4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction:alternate;
}

.intro__start-blue-circle {
  position: absolute;
  width: 49.812734082397%;
  height: 49.812734082397%;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin: auto;
  animation-name: bounced;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction:alternate;
}

.intro__arrow-bottom {
  position: absolute;
  width: 10.486891385767791%;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
}

.intro__start-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  bottom: -20px;
  width: 290px;
}

.intro__bottom-shadow {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 29.72222222222222%;
  left: 0;
  bottom:0;
  background: linear-gradient(180deg, rgba(3, 10, 24, 0) 40.66%, rgba(19, 69, 105, 0.91) 149.65%);
}

.intro__sky.slideUp {
  animation-name: introSky;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.intro__cloud-right-top-blur {
  opacity: 0;
}

.intro__cloud-right-top-blur.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1.5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.intro__lake {
  transform:translateY(100%);
  visibility: hidden;
  margin-left: -15px;
}

.intro__lake.slideUp {
  animation-name: introLake;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.intro__cloud-left {
  transform: translateY(100%);
  visibility: hidden;
  margin-left: -15px;
}

.intro__cloud-left.slideUp{
  animation-name: leftCloud;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.intro__cloud-left-little {
  transform: translateY(50%);
  opacity: 0;
  visibility: hidden;
}

.intro__cloud-left-little.slideUp {
  animation-name: cloudLeftLittle;
  animation-duration: 5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.intro__cloud-right {
  transform: translateY(100%);
  visibility: hidden;
}

.intro__cloud-right.slideUp {
  animation-name: rightCloud;
  animation-duration: 2.4s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.intro__cloud-right-little {
  opacity: 0;
  transform: translateY(0);
  visibility: hidden;
}

.intro__cloud-right-little.slideUp {
  animation-name: littleRightCloud;
  animation-duration: 1.5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.intro__light-effect,
.intro__light-effect2,
.intro__light-effect3 {
  opacity: 0;
  visibility: hidden;
}

.intro__light-effect.fadeIn,
.intro__light-effect2.fadeIn,
.intro__light-effect3.fadeIn {
  animation-name: introLightEffect;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.intro__tuzlu {
  transform: translateY(100%);
  visibility: hidden;
}

.intro__tuzlu.slideUp {
  animation-name: introTuzlu;
  animation-delay: 1.5s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

.intro__tuzlu.swimming{
  animation-name: swimming;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.intro__fish-shadow {
  right:-15%;
  opacity: 0;
}

.intro__fish-shadow.slideLeft {
  animation-name: introFishShadow;
  animation-delay: 1.5s;
  animation-duration: 7s;
  animation-fill-mode: forwards;
}

.intro__fishes-shadow {
  right:-40%;
  opacity: 0;
}

.intro__fishes-shadow.slideLeft {
  animation-name: introFishes;
  animation-delay: 1.5s;
  animation-duration: 9s;
  animation-fill-mode: forwards;
}

.intro__rock-left {
  transform: translateY(70%);
  visibility: hidden;
  margin-left: -15px;
}

.intro__rock-left.slideUp {
  animation-name: introWaveWater;
  animation-delay: 1.7s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.intro__rock-right {
  transform: translateY(70%);
  visibility: hidden;
}

.intro__rock-right.slideUp {
  animation-name: introWaveWater;
  animation-delay: 1.7s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.intro__plant-blur {
  z-index: 3;
  visibility: hidden;
  transform: translateY(50%);
}

.intro__fish-red {
  transform: translateY(50%);
}

.intro__fish-red.slideLeft {
  animation-name: introFishRed;
  animation-delay: .5s;
  animation-duration: 9s;
  animation-fill-mode: forwards;
}

.intro__mussel {
  transform: translateY(50%);
  visibility: hidden;
}

.intro__mussel.slideUp {
  animation-name: introMussel;
  animation-delay: 1.7s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.intro__bubbles {
  opacity: 0;
  visibility: hidden;
}

.intro__bubbles.fadeIn {
  animation-name: introBubbles;
  animation-delay: 1.7s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.intro__shrimp {
  transform: translateY(50%);
  visibility: hidden;
}

.intro__shrimp.slideUp {
  animation-name: introShrimp;
  animation-delay: 2.2s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.intro__plant-blur.slideUp {
  animation-name: introWaveWater;
  animation-delay: 1.7s;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
}

.intro__plant-green {
  transform: translateY(50%);
  visibility: hidden;
}

.intro__plant-green.slideUp {
  animation-name: introWaveWater;
  animation-delay: 1.7s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.intro__wave,
.intro__water {
  transform: translateY(50%);
  margin-left: -15px;
  visibility: hidden;
}

.intro__wave.slideUp,
.intro__water.slideUp {
  animation-name: introWaveWater;
  animation-delay: 1.5s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.intro__front-bug {
  transform: translateY(70%);
  margin-left: -30px;
  visibility: hidden;
}

.intro__front-bug.slideUp {
  animation-name: introWaveWater;
  animation-delay: 1.5s;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
}

.intro__mountain {
  transform: translateY(70%);
  margin-left: -15px;
  visibility: hidden;
}

.intro__mountain.slideUp{
  animation-name: introMountains;
  animation-delay: 1.5s;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
}

.intro-mobile.o-section__figure-wrapper 
.o-section__figure img {
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center;
  -o-object-position: center;
}

.intro-mobile {
  display: none;
}

@media (max-width:1720px) {
  .intro__start-text {
    left: -50px
  }
  .intro__grass-blur { 
    bottom:42.7%;
  }

  .intro__explanation {
    margin: 3vh auto 0;
    font-size: 18px;
  }
  
  .intro__start-button-wrapper {
    width: 10.90625%;
    height: 10.9065vw;
  }

  .intro__register-button {
    height: 58px;
    font-size: 16px;
    width: 270px;
  }
}

@media (max-width:1640px) {
  .intro__explanation {
    font-size:14px;
  }

  .intro__start-text {
    left: -60px
  }
}

@media (max-width:1439px) { 
  .intro__start-button-wrapper {
    width: 17.90625%;
  }

  .intro__start-text {
    left: 0;
    width: 100%;
  }
}

@media (max-width:660px) { 
  .intro-mobile {
    display: block;
  }

  .intro-desktop {
    display: none;
  }

  .intro-content {
    width: 55%;
    max-width: 340px;
  }
  .intro__tuzlu {
    transform: translateY(100%);
  }

  .intro__start-button-wrapper {
    width: 130px;
    height: 130px;
    bottom: 26vh;
  }

  .intro__ys-logo {
    max-width: 110px;
  }

  .intro__tuzlu-title {
    max-width: 150px;
    width: 80%;
    display: block;

  }

  .intro__gol-hikayesi {
    max-width: 135px;
  }
}

@media only screen and (max-width: 660px) and (min-height: 640px) {
  .intro-content {
    width: 100%;
    max-width: 420px;
  }

  .intro__start-button-wrapper {
    bottom:6vh;
  }

  .intro-content {
    top:100px;
  }

  .intro__explanation {
    font-size: 16px;
    margin-top: 10px;
  }

  .intro__tuzlu-title {
    max-width: 300px;
  }

  .intro__gol-hikayesi {
    max-width: 300px;
  }
}

@media only screen and (max-width: 660px) and (max-height: 639px) {
  .intro-mobile {
    display: none;
  }

  .intro-desktop {
    display: block;
  }
}

@media (max-width:669px) {
  .intro.section .fp-tableCell{
    height: 100vh!important;
  }

  .intro__start-button-wrapper {
    bottom:8vh;
  }

  .intro-content {
    width: clamp(320px, 50vw, 650px);
    top:80px;
  }

  .intro__tuzlu-title {
    height: auto;
    max-width: 80%;
    margin: auto;
    display: block;
  }
  
  .intro__ys-logo {
    width: 50%;
    max-width: 280px;
  }

  .intro__gol-hikayesi {
    width: 100%;
    max-width: 280px;
    width: 60%;
  }

  .intro__start-text {
    width: 100%;
    text-align: center;
    left: auto;
    font-size: 14px;
  }

  .intro__explanation {
    line-height: 134.5%;
    margin: 20px auto 0;
    font-size: 14px;
  }
}