@import 'animations.css';

.loading-screen {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: rgba(60, 191, 220, 1);
  z-index: 12;
  position: fixed;
}

.loading-screen.fadeOut {
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.loading-screen__rectangle {
  position: absolute;
  width: 100%;
  height: 40%;
  left: 0px;
  top: 0px;
  background: linear-gradient(180deg, rgba(60, 117, 227, 0.963542) 3.65%, rgba(80, 202, 242, 0) 100%);
  z-index: 1;
}

.loading-screen__sky {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: bottom center;
  opacity: .52;
  background-image:
    url("../img/sky-1.webp"),
    url("../img/sky-1.png");
  position: absolute;
}

.loading-screen__content {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.loading-screen__content.fadeOut {
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.loading-screen__tuzlu {
  max-width: 322px;
  height: auto;
  max-height: none;
  opacity: 0;
  margin: auto;
  animation-name: fadeIn;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  display: block;
  margin: auto;
}

.loading-screen__hello {
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  line-height: 154.5%;
  text-align: center;
  color: #113B55;
  margin: 30px 0 10px;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 1.4s;
  animation-fill-mode: forwards;
}

.loading-screen__sound-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1.25em;
  opacity: 0;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #FFFFFF;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 1.7s;
  animation-fill-mode: forwards;
}

.loading-screen__sound-ico {
  margin: 30px auto auto;
  display: block;
  opacity: 0;
  width: 64px;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.sound-open {
  width: 100%;
  max-width: 760px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-out;
}

.sound-open.fadeIn {
  visibility: visible!important;
  opacity: 1;
}

.sound-open__icon {
  width: 164px;
  height: 151px;
}

.sound-open__content {
  font-size: 30px;
  line-height: 154.5%;
  text-align: center;
  color: #FFFFFF;
  margin-top:35px;
}

.sound-open__buttons {
  margin-top:75px;
  text-align: center;
}

.sound-open__button {
  width: 195px;
  height: 81px;
  border: 2px solid #FFFFFF;
  border-radius: 106.071px;
  margin:0 12px;
  background: transparent;
  color:#fff;
  transition: all .3s ease-out;
  font-size: 18px;
  line-height: 120%;
  font-weight: 700;
  overflow: hidden;
  position: relative;
}

.sound-open__button-white {
  width: 195px;
  height: 81px;
  background: #FFFFFF;
  border-radius: 106.071px;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #0067B1;
  margin:0 12px;
  transition: all .3s ease-out;
  border: none;
  overflow: hidden;
  position: relative;
}

.sound-open__text-wrapper {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sound-open__button-icon {
  margin-right: 10px;
}

.sound-open__button::before,
.sound-open__button::after,
.sound-open__button-white::before, 
.sound-open__button-white::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sound-open__button::before,
.sound-open__button-white::before {
  content: '';
  background: #0067B1;
  width: 120%;
  height: 0;
  padding-bottom: 120%;
  top: -110%;
  left: -10%;
  border-radius: 50%;
  transform: translate3d(0,68%,0) scale3d(0,0,0);
}

.sound-open__button::before {
  background: #fff;
}

.sound-open__button::after,
.sound-open__button-white::after {
  content: '';
  background: #0067B1;
  transform: translate3d(0,-100%,0);
  transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
}

.sound-open__button::after {
  background: #fff;
}

.sound-open__button:hover div,
.sound-open__button-white:hover div {
  animation: MoveScaleUpInitial 0.3s forwards, MoveScaleUpEnd 0.3s forwards 0.3s;
  color: #fff;
}

.sound-open__button:hover div {
  color:#0067B1;
}

.sound-open__button-white:hover path {
  fill: #fff;
}

.sound-open__button:hover path {
  fill: #0067B1;
}

.sound-open__button:hover::before,
.sound-open__button-white:hover::before {
  transform: translate3d(0,0,0) scale3d(1,1,1);
  transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
}

.sound-open__button:hover::after,
.sound-open__button-white:hover::after {
  transform: translate3d(0,0,0);
  transition-duration: 0.05s;
  transition-delay: 0.4s;
  transition-timing-function: linear;
}

@keyframes MoveScaleUpInitial {
	to {
		transform: translate3d(0,-105%,0) scale3d(1,2,1);
		opacity: 0;
	}
}

@keyframes MoveScaleUpEnd {
	from {
		transform: translate3d(0,100%,0) scale3d(1,2,1);
		opacity: 0;
	}
	to {
		transform: translate3d(0,0,0);
		opacity: 1;
	}
}

@media (max-width:1720px) {
  .sound-open__icon {
    width: 124px;
    height: 121px;
  }

  .sound-open__content {
    font-size:26px;
  }

  .sound-open__buttons {
    margin-top:45px;
  }
}

@media (max-width:1640px) {
  .loading-screen__hello {
    font-size:24px;
  }

  .loading-screen__sound-text {
    font-size:14px;
  }
}

@media (max-width:1023px) {
  .loading-screen__content {
    width: 70%;
  }

  .sound-open__icon {
    width: 94px;
    height: 90px
  }

  .sound-open__content {
    font-size: 18px;
  }

  .sound-open__buttons {
    margin-top:20px;
  }

  .sound-open__button-white {
    margin: 0 12px 20px;
  }

  .loading-screen__tuzlu {
    max-width: 232px;
  }

  .loading-screen__hello {
    font-size:18px;
  }

  .loading-screen__sound-text {
    font-size:12px;
  }

  .loading-screen__sound-ico {
    width: 44px;
  }
}