.page-03__tuzlu {
  transform: translateX(100px);
}

.page-03__tuzlu.slideLeft{
  animation-name: slideToZero;
  animation-duration:2s;
  animation-fill-mode: forwards; 
}

.page-03__thunder-white {
  background-color: #fff;
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}

.page-03__cloud {
  animation-name: slideToMinus;
  animation-duration: 3s;
  animation-fill-mode: forwards; 
}

.page-03__thunder-white.flash{
  animation-name: Page03FlashThunder;
  animation-duration: 6s;
  animation-delay: .5s;
  animation-fill-mode: forwards; 
  animation-iteration-count: infinite;
}

.page-03__rock-left {
  margin-left:-40px;
}

.page-03__rock-left.slideLeft{
  animation-name: slideToMinus;
  animation-duration: 3s;
  animation-fill-mode: forwards; 
}

.page-03__rock-left-dark {
  opacity: 0;
  margin-left:-40px;
}

.page-03__rock-left-dark.show {
  animation-name: Page03Flash;
  animation-duration: 6s;
  animation-fill-mode: forwards; 
  animation-iteration-count: infinite;
}


.page-03__rock-right {
  transform: translateX(100px);
}

.page-03__rock-right.slideLeft {
  animation-name: slideToZero;
  animation-duration:2s;
  animation-fill-mode: forwards; 
}

.page-03__rock-right-dark {
  opacity: 0;
  transform: translateX(100px);
}

.page-03__rock-right-dark.show {
  animation-name: Page03Flash;
  animation-duration: 6s;
  animation-fill-mode: forwards; 
  animation-iteration-count: infinite;
}

.page-03__flamingo-left.slideLeft{
  animation-name: slideToMinus;
  animation-duration: 2s;
  animation-fill-mode: forwards; 
}

.page-03__flamingo-left-gaga {
  transform-origin: 32% 7%;
}

.page-03__flamingo-left-gaga.slideLeft {
  animation-name: slideToMinus;
  animation-duration: 2s;
  animation-fill-mode: forwards; 
}

.page-03__flamingo-left-gaga.talk {
  animation-name: Page03Talk;
  animation-duration: 1s;
  animation-fill-mode: forwards; 
  animation-iteration-count: infinite;
}

.page-03__flamingo-left-gaga-dark {
  opacity: 0;
  transform-origin: 32% 7%;
  transform: rotate(-2deg) translateX(-40px);
}

.page-03__flamingo-left-gaga-dark.show{
  animation: Page03Talk 1s , Page03Flash 6s;
  animation-fill-mode: forwards; 
  animation-iteration-count: infinite;
  animation-delay: 2.45s, 0ms;
}

.page-03__flamingo-left-dark {
  opacity: 0;
  margin-left: -40px;
}

.page-03__flamingo-left-dark.show {
  animation-name: Page03Flash;
  animation-duration: 6s;
  animation-fill-mode: forwards; 
  animation-iteration-count: infinite;
}

.page-03__flamingo-right {
  transform: translateX(100px);
}

.page-03__flamingo-right.slideLeft {
  animation-name: slideToZero;
  animation-duration:2.5s;
  animation-fill-mode: forwards; 
}

.page-03__flamingo-right-dark {
  opacity: 0;
}

.page-03__flamingo-right-dark.show {
  animation-name: Page03Flash;
  animation-duration: 6s;
  animation-fill-mode: forwards; 
  animation-iteration-count: infinite;
}

.page-03__flamingo-right-wing {
  transform-origin: 65% 100%;
  transform: translateX(100px);
}

.page-03__flamingo-right-wing.slideLeft{
  animation-name: slideToZero;
  animation-duration: 2.5s;
  animation-fill-mode: forwards; 
}

.page-03__flamingo-right-wing.HandMove { 
  animation-name: Page03FlamingoRightWing;
  animation-duration: 5s;
  animation-fill-mode: forwards; 
  animation-iteration-count: infinite;
}

.page-03__flamingo-right-wing-dark {
  opacity: 0;
  transform-origin: 65% 100%;
}

.page-03__flamingo-right-wing-dark.show{
  
  animation: Page03FlamingoRightWing 5s, Page03Flash 6s;
  animation-delay: 2.5s, 0ms ;
  animation-fill-mode: forwards; 
  animation-iteration-count: infinite;
}

.page-03__plant-left.slideLeft {
  animation-name: slideToMinus;
  animation-duration: 2s;
  animation-fill-mode: forwards; 
}

.page-03__plant-left-dark {
  opacity: 0;
  margin-left: -40px;
  z-index: 2;
}

.page-03__plant-left-dark.show {
  animation-name: Page03Flash;
  animation-duration: 6s;
  animation-fill-mode: forwards; 
  animation-iteration-count: infinite;
}

.page-03__plant-right {
  transform: translateX(100px);
}

.page-03__plant-right.slideLeft {
  animation-name: slideToZero;
  animation-duration:2s;
  animation-fill-mode: forwards; 
}

.page-03__plant-right-dark {
  opacity: 0;
  z-index: 2;
}

.page-03__plant-right-dark.show {
  animation-name: Page03Flash;
  animation-duration: 6s;
  animation-fill-mode: forwards; 
  animation-iteration-count: infinite;
}

.page-03__content {
  position: absolute;
  color:#fff;
  font-size: 20px;
  left:7.75%;
  top:39.351851851851855%;
  max-width: 460px;
  width: 34.479166666666664%;
  z-index: 2;
  opacity: 0;
}

.page-03__content font {
  font-size:25px;
}

.page-03__content.slideLeft {
  animation-name: contentSlideLeft;
  animation-duration: 2s;
  animation-fill-mode: forwards; 
}

@media (max-width:1720px) {
  .page-03__content {
    font-size:18px;
    max-width: 420px;
  }
  
  .page-03__content font{
    font-size:23px;
  }
}

@media (max-width:1640px) {
  .page-03__content {
    font-size:14px;
    max-width: 330px;
  }
  
  .page-03__content font{
    font-size:18px;
  }
}

@media (max-width:660px) { 
  .page-03__content {
    display: none;
  }

  .page-03__flamingo-left-dark,
  .page-03__rock-left-dark,
  .page-03__plant-left-dark {
    margin-left:-20px;
  }

  .page-03__flamingo-left-gaga-dark.show,
  .page-03__flamingo-left-gaga.talk {
    margin-left:20px;
  }
}
