.page-05__children {
  z-index: 3;
}

.page-05__children.slideLeft {
  animation-name: slideToMinus;
  animation-duration: 2s;
  animation-fill-mode: forwards; 
}

.page-05__plant {
  z-index: 4;
}

.page-05__plant.slideLeft {
  animation-name: slideToMinus;
  animation-duration: 3s;
  animation-fill-mode: forwards; 
}

.page-05__cloud-top-big {
  z-index: 2;
  transform: translateX(100px);
}

.page-05__cloud-top-big.slideLeft {
  animation-name: slideToZero;
  animation-duration: 30s;
  animation-fill-mode: forwards; 
}

.page-05__cloud-top-little {
  z-index: 2;
  transform: translateX(100px);
}

.page-05__cloud-top-little.slideLeft {
  animation-name: slideToZero;
  animation-duration: 35s;
  animation-fill-mode: forwards; 
}

.page-05__cloud-bottom {
  z-index: 2;
  transform: translateX(100px);
}

.page-05__cloud-bottom.slideLeft {
  animation-name: slideToZero;
  animation-duration: 28s;
  animation-fill-mode: forwards; 
}

.page-05__tuzlu {
  z-index: 2;
}

.page-05__tuzlu.slideLeft {
  animation-name: slideToMinus;
  animation-duration: 3s;
  animation-fill-mode: forwards; 
}

.page-05__tuzlu img {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.page-05__content-1 {
  position: absolute;
  left:9.166666666666666%;
  width:70%;
  max-width: 673px;
  top:17.59259259259259%;
  z-index: 2;
  transform: translateX(70px);
  font-size: 20px;
  opacity: 0;
}

.page-05__content-1.slideLeft {
  animation-name: contentSlideLeft;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.page-05__content-2 {
  position: absolute;
  right:16.927083333333336%;
  width:70%;
  max-width: 471px;
  top:19.90740740740741%;
  z-index: 2;
  transform: translateX(70px);
  font-size: 20px;
  opacity: 0;
}

.page-05__content-2 font {
  font-size: 25px;
}

.page-05__content-2.slideLeft {
  animation-name: contentSlideLeft;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.page-05__content-3 {
  position: absolute;
  right:8.59375%;
  width:70%;
  max-width: 471px;
  top:32.870370370370374%;
  z-index: 2;
  transform: translateX(70px);
  font-size: 20px;
  opacity: 0;
}

.page-05__content-3 font{
  font-size: 25px;
}

.page-05__content-3.slideLeft {
  animation-name: contentSlideLeft;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@media (max-width:1720px) { 
  .page-05__content-1,
  .page-05__content-2,
  .page-05__content-3 {
    font-size:18px;
  }

  .page-05__content-2 font,
  .page-05__content-3 font{
    font-size:23px;
  }

  .page-05__content-1 {
    max-width: 590px;
  }

  .page-05__content-2,
  .page-05__content-3 {
    max-width: 410px;
  }

  .page-05__content-3 {
    top:35%;
  }
}

@media (max-width:1640px) { 
  .page-05__content-1,
  .page-05__content-2,
  .page-05__content-3 {
    font-size:14px;
  }

  .page-05__content-1 {
    max-width: 480px;
  }

  .page-05__content-2,
  .page-05__content-3 {
    max-width: 330px;
  }

  .page-05__content-2 font,
  .page-05__content-3 font{
    font-size:18px;
  }
}

@media (max-width:1023px) { 
  .page-05__content-1,
  .page-05__content-2,
  .page-05__content-3 {
    display: none;
  }
}